@use 'variables';

.btn-primary {
  position: relative;
  overflow: hidden;
  background: linear-gradient(-5deg, variables.$main-color, variables.$secondary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);

    &::after {
      opacity: 1;
    }
  }
}


.hero {
  text-align: center;
  padding: 2rem;
  background: variables.$bg-light;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: #555;
  }
}

.how {
  background: white;
  padding: 2rem;

  h3 {
    margin-bottom: 1rem;
  }

  .steps {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      background: variables.$bg-light;
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      position: relative;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      gap: 1rem;
      font-weight: 500;
      transition: background-color 0.15s;

      &:hover {
        background-color: #dbbaff;

        i {
          color: #9356DC;
          cursor: pointer;
        }
      }

      i {
        font-size: 1.1rem;
        color: #7E7E7E
      }

      p {
        margin: 0;
        flex: 1;
      }

      .step-number {
        position: absolute;
        left: -0.75rem;
        width: 1.5rem;
        height: 1.5rem;
        background-color: variables.$main-color;
        color: white;
        font-size: 0.8rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.restaurants {
  padding: 2rem;
  background: variables.$bg-light;

  h3 {
    margin-bottom: 1rem;
  }

  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .card {
    background: white;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }


    .card-info {
      padding: 1rem;

      h4 {
        margin-bottom: 0.5rem;
      }
    }

    .heart {
      position: absolute;
      right: 1rem;
      bottom: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;

      i {
        position: absolute;
        inset: 0;
        font-size: 1.5rem;
        transition: opacity 0.3s ease;
      }

      .empty {
        color: rgba(16, 16, 16, 1);
      }

      .full {
        background: linear-gradient(to bottom,
            rgba(147, 86, 220, 1),
            rgba(255, 121, 218, 1));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        opacity: 0;
      }

      &:hover .full {
        opacity: 1;
      }

      &:hover .empty {
        opacity: 0;
      }
    }

    &.new::before {
      content: "Nouveau";
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: #99E2D0;
      color: #1B6150;
      padding: 0.2rem 0.5rem;
      border-radius: 0.2rem;
      font-size: 0.8rem;
    }
  }
}

.back-btn {
  position: absolute;
  top: 1.2rem;
  left: 1rem;
  font-size: 1.5rem;
  color: variables.$dark;
  text-decoration: none;
  z-index: 10;
  transition: color 0.2s;

  &:hover {
    color: variables.$main-color;
    cursor: pointer;
  }
}

.menu-page {
  background: white;

  .menu-banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .menu-content {
    background: variables.$bg-light;
    border-radius: 2rem 2rem 0 0;
    margin-top: -2rem;
    padding: 2rem 1rem;

    .menu-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Shrikhand', cursive;
      font-size: 1.5rem;

      .heart {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        i {
          position: absolute;
          top: 0;
          left: 0;
          font-size: 1.5rem;
          background: linear-gradient(to bottom, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
          -webkit-background-clip: text;
          background-clip: text;
          transition: all 0.3s ease;
          color: rgba(16, 16, 16, 1);
        }

        .full {
          opacity: 0;
        }

        &:hover .full {
          color: transparent;
          opacity: 1;
        }

        &:hover .empty {
          opacity: 0;
        }
      }
    }

    .menu-section {
      margin: 2rem 0;

      h2 {
        font-size: 1rem;
        text-transform: uppercase;
        color: gray;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid #99E2D0;
        display: inline-block;
        padding-bottom: 0.2rem;
      }

      .menu-item {
        background: white;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        clip-path: inset(0 0 0 0 round 1rem);

        &:hover {
          transform: scale(1);
        }

        .price {
          font-weight: bold;
          margin-left: 1rem;
          transition: transform 0.3s ease;
          position: relative;
          z-index: 2;
        }

        .check-icon {
          position: absolute;
          top: 0;
          right: -4rem;
          width: 4rem;
          height: 100%;
          background-color: #99e2d0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(255, 255, 255);
          font-size: 1.3rem;
          border-radius: 0 1rem 1rem 0;
          opacity: 1;
          transition: all 0.3s ease;
          z-index: 1;
        }

        &:hover .check-icon {
          right: 0;
        }

        &:hover .price {
          transform: translateX(-4rem);
        }

        .item-info {
          flex: 1;

          h3 {
            font-size: 1rem;
            margin-bottom: 0.25rem;
          }

          p {
            font-size: 0.9rem;
            color: #666;
          }
        }

        .price {
          font-weight: bold;
          margin-left: 1rem;
          margin-top: 1.5em;
        }
      }
    }

    .menu-order {
      text-align: center;
      margin-top: 2rem;

      .btn-primary {
        font-size: 1rem;
      }
    }
  }
}